@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Poppins:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 90vh;
    background-color: black;
}

.box3 {
    display: flex;
    flex-direction: row;
}

#ai {
    width: 55vw;
    justify-content: center;
    align-items: center;
    display: flex;

}

h1 {
    color: aliceblue;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-top: 200px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 50px;
}

.h1 {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

#name {
    color: rgb(191, 120, 154);
    font-size: 70px;
}

#va {
    color: rgb(216, 198, 127);
    font-size: 70px;
    display: flex;
    flex-direction: row;

}

#voice {
    width: 420px;
    height: 200px;
    padding-left: 200px;
    padding-top: 5px;
    display: none;
}

#btn {
    width: 20%;
    height: 65px;
    background: linear-gradient(to right, #d6aab8, #53093d);
    font-size: 21px;
    color: white;
    padding: 8px;
    border-radius: 15px;
    margin-left: 190px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    color: #000000;
    border: none;
    margin-top: auto;
    /* pushes footer to the bottom */
    box-sizing: border-box;

    transition: all 0.2s;
    cursor: pointer;
    margin-top: 1%;

}

.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btn:hover {
    box-shadow: 2px 2px 20px rgba(252, 227, 138, 0.7);
    letter-spacing: 1.3px;

}

footer {
    width: 100%;
    margin: 0;
    display: flex;
    color: rgb(183, 183, 173);
    justify-content: center;
    align-items: center;
    font-family: serif;
}

/* responsive devices----------------------------------------- */
@media (max-width: 764px),
(max-height:500px) {

    #name {
        font-size: 50px;
    }

    #va {
        font-size: 50px;
    }

    h1 {
        font-size: 40px;
    }

    #ai {
        height: 450px;
        width: 600px;
    }

    .box1 {
        margin-top: -100px;
    }

    .box2 {
        margin-right: 200px;
    }

    #btn {
        width: 85px;
    }


    footer {
        margin-top: -250px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin-left: 50px;
        box-sizing: border-box;
        margin: 0; /* remove accidental large margins */
        margin-top: auto;
        /* pushes footer to the bottom */
    }
}